sim/
temp/

sta/*

!sta/constraint/
!sta/*/

!sta/constraint/*.sdc
!sta/*/*.qsf
!sta/*/*.qpf

sta/*/db
sta/*/output_files
sta/*/incremental_db
sta/*/simulation
sta/*/*_nativelink_simulation.rpt
sta/*/*.pti_db_list.ddb
sta/*/*.tis_db_list.ddb
sta/*/*.log
sta/*/*_description.txt